*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: floralwhite;
    border: 0px;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    height: 600px;
    margin-top: 0;
}

/* header and nav bar styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

/* bannner styles */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
/* .personal img{
    width: 100%;
} */
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
}

.banner-description{
    font-size: 18px;
    color: #757575;
    text-align: justify;
    margin-bottom: 50px;
}

.Career{
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-color: #000;
    margin-bottom: 5px;
}

.button-group{
    display: flex;
    grid-row: 5px;
}

.download-icon{
  margin-bottom: 5px;
  margin-right: 5px;
}

.fa-download{
    margin-right: 5px;
}

.cursor:hover{
    cursor: grab;
}

.btn-contact{
    height: 64px;
    border-radius: 5px;
    background-color: floralwhite;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
    margin-left:20px;
}

.btn-contact:hover{
    background-color: #FD6E0A;
        color: floralwhite;
}
.fa-phone-volume{
    margin-right: 5px;
}

/* .btn-contact:hover{
        height: 64px;
        border-radius: 5px;
        background-color: #FD6E0A;
        color: #FFF8F3;
        border: 0px;
        padding: 18px 36px;
        font-size: 20px;
        font-weight: 700;
} */
/* main section styles */
main{
    width: 1140px;
    margin: 0 auto;
}
/* main section end */

/* about section styles */
.about{
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
}
section{
    margin-top: 130px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-description{
    color: #757575;
    margin-bottom: 50px;
    font-size: 18px;
    /* text-align: justify; */
}
.what-description{
       color: #757575;
        margin-bottom: 50px;
        font-size: 18px;
        text-align: center;
        padding: 50px;
}
/* about section end */

.about-info-container{
    display: flex;
    /* flexbox cheat sheet google search kore dekhe nite hobe */
    justify-content: space-around;
}

.about .info-title{
    font-size: 20px;
    color: #757575;
}

.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what i do styles */

.skills-container{
    display: flex;
    gap:25px;
}

.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #757575;
}

/* Resume Styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
}

.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact{
   text-align: left;
}

.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;

}

input{
    height: 64px;
}

.contact a{
    text-decoration: none;
}

/* responsive styles */

/* for small device */
@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav,
    .banner,
    .skills-container,
    .resume-content,
    .about-info-container,
    .contact
    {
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }
    .about,.contact{
        padding: 20px;
    }
    .contact input[type="text"],
        input[type="email"],
        textarea {
         padding: 0 0 0 5px;
    
        }

    
    
}

/* for medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .about,
    .contact {
            padding: 20px;
     }
     .contact{
        flex-direction: column;
     }

    .contact input[type="text"],
    input[type="email"],
    textarea {
             padding: 0 0 0 5px;
    
         }
}


.hide{
    display: none;
}

